<div class="mt-3">
    <h2>¡Hola!</h2>

    <p>Mi nombre es David Bocanegra Lagares y esto es una prueba técnica para le empresa Sandav en la que realizo una
        mínima página web utilizando Angular 16, angular material 16 (primera vez que lo uso, siempre he trabajado con
        PrimeNG) y Boostrap 5.</p>
    <p>En este sitio web podremos consultar los super héroes que se encuentran en nuestro BBDD, agregar nuevos,
        editarlos e incluso eliminarlos.</p>
    <p>El motivo por el que agrego un apartado home es para probar el enrutamiento con un navbar.</p>

    <mat-card class="example-card">
        <mat-card-header>
            <img mat-card-avatar class="example-header-image"
                src="https://media.licdn.com/dms/image/D4D03AQEk1rBGwuBwEA/profile-displayphoto-shrink_800_800/0/1680683331628?e=2147483647&v=beta&t=jhlWy0XWUYiMXy73bXuCOi39S0grt7Mci1GTRYQpUO0">
            <mat-card-title>Marvel VS DC Universe</mat-card-title>
            <mat-card-subtitle>David Bocanegra Lagares</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/marvel_vs_dc.jpeg" alt="marvel_vs_dc">
    </mat-card>

</div>